body{
    background-image:url("../img/Yaddle-SWE.jpg");
    background-repeat: no-repeat;
    background-position:5% 70% ;
}
.yaddle{
    display: block;
    width: 8em;
    height: 12em;
    position: absolute;
    margin-left:4em ;
    margin-top: 4em;
    padding:6em;
    font-family: 'Sedgwick Ave Display', cursive;
    color: aliceblue;

}


ul {


    text-decoration: none;
}

.nav-bar{
    background-color: olive;
    padding: 1em;
}

.nav-items{
    list-style: none;
    display: flex;
    justify-content: space-evenly;

    padding:0  1em;

    font-size: 25px;
}
a{

    text-decoration: none;
    font-family: "Big Caslon";
    color: black;
}
img{

    width: 20em;
    border-radius: 160px;
    margin: 5em;
}
div {
    width: 500px;
    height: 550px;
    position: relative;
    background-color: red;
    animation-name: moveBox;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes moveBox {
    0%   {background-color:red; left:0px; top:0px;}
    10%   {background-color:red; left:0px; top:0px;}

    25%  {background-color:green; left:0px; top:500px;}
    /*35%   {background-color:red; left:0px; top:100px;}*/
    50%  {background-color:red; left:475px; top:500px;}
    75%  {background-color:green; left:475px; top:0px;}
    /*85%  {background-color:red; left:500px; top:300px;}*/
    /*95%  {background-color:green; left:500px; top:100px;}*/
    /*96% {background-color:red; left:250px; top:0px;}*/
    100%  {background-color:red; left:0px; top:0px;}

}got